[Desktop Entry]
Type=Application
Exec=sh /home/vagrant/linux_setup/sikuli/sikuli_wait_runall.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Sikuli XScripts
Name=Sikuli XScripts
Comment[en_US]=
Comment=
