[Desktop Entry]
Type=Application
Exec=sleep 1m && /home/vagrant/linux_setup/sikuli/sikuli_runall.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Run Sikuli Scripts
Name=Run Sikuli Scripts
Comment[en_US]=
Comment=
